<?xml version="1.0" encoding="UTF-8"?>
<sqlgenconfig>
<filename>ChargeCodes</filename>
<sheetname>Sheet1</sheetname>
<range>1,1:192,13</range>
<cols>
<colname>ChargeActionTypeId</colname>
<colname>ChargeActionTypeName</colname>
<colname>DisplaySequence</colname>
<colname>BudgetChargeMatchMode</colname>
<colname>AuditUserId</colname>
<colname>EnableDuplicateChecking</colname>
<colname>ChargeActionShortCode</colname>
<colname>ChargeTypeId</colname>
</cols>
<sqltemplate>IF NOT EXISTS(SELECT 1 FROM RefChargeActionType WHERE ChargeActionTypeName = '{{.ChargeActionTypeName}}')
    INSERT INTO RefChargeActionType (ChargeActionTypeId, ChargeActionTypeName, DisplaySequence, BudgetChargeMatchMode, AuditUserId, EnableDuplicateChecking, ChargeActionShortCode, ChargeTypeId)
VALUES ({{.ChargeActionTypeId}}, '{{.ChargeActionTypeName}}', {{.DisplaySequence}}, '{{.BudgetChargeMatchMode}}', {{.AuditUserId}}, {{.EnableDuplicateChecking}}, '{{.ChargeActionShortCode}}', {{.ChargeTypeId}})
</sqltemplate>
</sqlgenconfig>